.ViewBox{
    /* background-color: aqua; */
    width: 75%;
    padding: 70px 40px;
}

.innerbox{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}
.del{
    font-size: 15px;
    border: none;
    background-color: transparent;
    }
hr{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 194, 192);
}
.formbox{
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-start;
 
}
.forms{
padding: 0 !important;
/* background-color: cadetblue; */
width: 100%;
}

.input{
    /* background-color: blue; */
    width: 35%;
    border-radius: 5px;
    margin-right: 20px;
}
.input:focus{
    border: 2px solid rgb(38, 122, 239);
}

.addbtn{
    font-size: 15px;
    border: none;
    background-color: transparent;
}

.addbox{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(214, 213, 213);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.viewcon{
    padding: 10px;
}

.h3{
    color: rgb(130, 129, 129);
}